/* Fuente Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

/* Tailwind “CSS-first” */
@import "tailwindcss/theme.css";
@import "tailwindcss/utilities.css";

/* Tu reset mínimo */
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  background: #000; /* fallback mientras carga */
  height: 100vh;
}

/* Elimina bordes por defecto */
@layer base {
  *, ::before, ::after {
    border-width: 0;
  }
}

